table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

th,
td {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: center;
}

form {
  display: none;
}

.flex {
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: space-between;
}
